.results {
  &__testimonials {
    gap: 1.5rem;
  }
}
.testimonial-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1.25rem 0.625rem;
  background-color: $testimonial-card-background-color;
  width: 300px;
  height: 200px;

  hr {
    width: 100%;
  }

  .client-name {
    font-weight: $fw-bold;
  }
}
